@model DashboardWebapp.Models.Transaction

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="form-group" style="text-align:center">
            <p>Are you sure you want to delete the <b> @Model.Name </b> transaction? </p>
        </div>

        <div class="text-center">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    </div>
}
